body {
    margin: 0;
    padding: 0;
}

.header__wrapper {
    min-height: 60px;
    box-shadow: 0px 5px 0.375rem rgb(0 0 0 / 15%);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 0 2vw;
}

.header__wrapper h1 {
    margin: 0;
    font-style: Arial;
    color: #d54215;   
}

.header__wrapper__navigation {
    font-style: Arial;
    font-size: 18px;
}

.header__wrapper a {
    outline: none;
    text-decoration: none;
    color: #07070791;
    font-weight: bold;
    margin-right: 2vw;
}

.header__wrapper button {
    color: #07070791;
    font-weight: bold;
    font-size: 15px;
    min-height: 30px;
    border: 0;
    border-radius: 5px;
}

.header__wrapper button:hover {
    background-color: #d54215;
    color: #ffff;
    transition: 1.5s;
}

.app__separator {
    min-height: 50px;
    background-color: #f2f2f2;
}

.app__categories_on {
    display: block;
    transition: 1s;
}

.app__categories_off {
    display: none;
    transition: 1s;
}